html {
    font-size: 10px;
}

body,
ul {
    margin: 0;
    padding: 0;
    background-color: #212529;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

li.nav-item>a,
.header-btn {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

li.nav-item>a:hover {
    color: #FFB742;
}

li.nav-item>a:active {
    font-size: 32px;
}

.header-btn {
    font-family: 'Poppins', sans-serif;
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
}

.greeting {
    display: flex;
    height: 460px;
    width: 964px;
    background-color: #212529;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 108px;
    justify-content: space-between;
}

.name {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    font-family: 'Inter', sans-serif;

}

.name-text {
    color: #FFB742;
    text-decoration: underline;
    
}

.profeccion {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}
.greeting :nth-child(3) {
    font-size: 24px;
    font-weight: 400;
}
.all-btn {
    display: flex;
    Width: 1296px;
    Height: 120px;
    margin: 0 auto;
    margin-top: 136px;
    font-weight: 700;
    justify-content: space-between;
    
}
.btn {
    font-family: 'Inter', sans-serif;
    width: 416px;
    background-color:  rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.btn:hover {
    background-color: #FFB742;
    
}
.btn:hover .text-btn1{
    color: #1C1C1C;
}
.btn:hover .text-btn2{
    color: #1C1C1C;
}
.text-btn1  {
    color: #FFB742;
    font-size: 32px;
}
.text-btn2  {
    color: #fff;
    font-size: 16px;
}
.text-btn {
    width: 159px;
    display: flex;
    flex-direction: column;
}
.arrow-btn {
    fill: #B3B3B3;
}
.btn:hover .arrow-btn {
    fill: #1C1C1C;
}
.biography {
    width: 1342px;
    height: 596px;
    margin: 0 auto;
    margin-top: 136px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.title-btn {
    font-family: 'Poppins', sans-serif;
    color: #FFB742;
    padding: 12px 26px;
    background-color: #FFFFFF14;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.text-biography {
    display: flex;
    width: 682px;
    flex-direction: column;
    color: #fff; 
    height: auto;
    justify-content: space-evenly;
    align-items: stretch;
}
.text-biography:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.text-text-biography {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.my-works {
    width: 1234px;
    height: 1038px;
    margin: 0 auto;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
}
.title-nav {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}
.my-works>img {
    width: 390px;
    height: 496px;
}
.img-project {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 50px;
    height: 100%;
}
.footer {
    background-color: #1C1C1C;
    width: 1440px;
    height: 470px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 116px;
    padding-top: 200px;
    box-sizing: border-box;
}
footer>div>div:nth-child(2) {
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D4;
}
.title_name {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
color: #FFB742;
}
.title_name:nth-child(2) {
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
color: #D4D4D4;
}
.footer-item>a {
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #7B7B7B;
text-decoration: none;
}
.footer-item {
    list-style: none;
    background-color: #1C1C1C;
}
.links, .media,
.newsletter {
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 21.5865px;
color: #F5FBF2;
}
.newsletter {
    width: 21%;
}
li.footer-item>a:active {
    color: #FFB742;
}