body, header {
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEC;
}
.logo {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    background-color: #fff;
   padding-left: 20vw;
    
}
.logo:nth-child(1) {
    padding-right: 6rem;
}
.form-inline1 {
    padding-right: 16rem;
    margin-left: 4rem;
}
.form-inline {
    padding-right: 2rem;
}
.form-town {
    border: 2px solid #323232;

}
.form-control {
    background-image: url(../img/adress.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.75rem;
    width: 31rem;
}
.input {
    background-color: #EF781A;
    color: #fff;
    height: 50px;
    width: 98px;
    border: 1px solid #EF781A;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 16rem;
    
}
.basket-btn {
    background-color: #00D008;
    color: #fff;
    height: 50px;
    width: 98px;
    border: 1px solid #00D008;
    border-radius: 5px;
}
.basket {
    width: 25rem;
    position: fixed;
    right: 1vw;
    background-color: #fff;
}
.basket-number {
    width: 2rem;
    padding: 0.5rem;
    border: none;
}
.order {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
} 
.btn-primary {
    border-radius: 50%;
    border: none;
    background-color: #EF781A;
    color: #fff;
}  
.btn-buy {
    background-color: #EF781A;
    height: 4rem;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 
.card-body>pre {
    font-weight: 500;
    font-size: 1rem;
}
.title {
    font-weight: 800;
    font-size: 36px;
    background-color: #fff;
    width: 100%;
    padding-left: 20vw;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.menu {
    padding-left: 20vw !important;
}
.nav-link {
    color: #7B7B7B;
}
.nav-link:hover {
    background-color: #C4C4C4;
    color: #343434;
    border-radius: .3rem;
}
.stock-title {
    font-weight: 700;
    font-size: 24px;
    padding-left: 20vw;
    margin-top: 2.1rem;
}
.container {
    margin-top: 2.1rem;
   
}
.card {
   padding: 0;
   margin-left: 2rem;
   
}
.card-title {
    font-weight: 700;
    font-size: 1.2rem;
}
.card-text {
    font-weight: 500;
    font-size: 0.8rem;
    color: #A1A1A1;
}
.price {
    font-weight: 500;
    font-size: 18px;
    color: black;
    width: 50%;
    height: 3rem;
    background-color: #fff;
    border: none;
    
}
.inbasket {
    display: none;
}
.card:hover .price {
    background-color: #EF781A;
    border: none;
    border-radius: 0.5rem;
    box-shadow: none;
}
.card:hover .price-text {
    display: none;
} 
.card:hover .inbasket {
    display: block;
} 
.heart {
    stroke: black;
}
.heart:hover {
   fill : #69A042;
   stroke: #69A042;
}
.price-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-footer {
    font-weight: 700;
    font-size: 1.5rem;
}
footer {
    background-color: #fff;
}
footer>ul {
    color: #999999;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 0.9rem;
    margin-left: 1.8rem;
    line-height: 1.5rem;
}
.list-group-item {
    border-color: #fff;
    padding: 0rem 0rem;
}
footer>ul>li {
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}
