.body {
    font-family: 'PT Sans';
}

.logotup {
    margin: 10px 138px;
}

.menu {
    background-color: #202846;
    display: block;
    height: 90px;
    overflow: auto;

}

.submenu {
    float: right;
    color: white;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    margin-top: 18px;
    text-decoration: none;
}

.line {
    border-right: 2px solid #fff;
    height: 59px;
    margin: 10px 27px;

}

.subsubmenu {
    width: 170px;
    text-align: center;
}

.lang {
    margin: 30px 15px;
    font-weight: 700;
    font-size: 28px;
}

.menu-book {
    height: 140px;
    background-color: #C6C6DC;
    display: block;
}

.text-book {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    margin: auto 227px;
    padding: 39px 0;
}

.panel {
    width: 1489px;
    height: 73px;
    background-color: #E8E8E8;
    margin: 0 auto;
    position: relative;

}

.text-panel {
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    padding-top: 18px;
}

.image-panel {
    position: absolute;
    left: 1441px;
    top: 18px;
}

.all-cards {
    text-align: center;
    background-color: #DCDCDC;
    height: 1900px;
}

.card {
    height: 300px;
    width: 1489px;
    background-color: #BDBDC6;
    display: inline-block;
    margin: 36px auto;
    position: relative;
}

.line2 {
    border-bottom: 3px solid #fff;
    width: 712px;
    float: right;
    position: absolute;
    left: 686px;
    top: 66px;
}

.title-card {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    position: absolute;
    left: 688px;
    top: 27px;

}

.text-card {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    text-align: center;
    border: 1px solid #D7D7DD;
    border-width: 30px;

}

.text-box {
    width: 712px;
    height: 184px;
    background-color: #D7D7DD;
    position: absolute;
    left: 686px;
    top: 98px;

}

.image-card {
    position: absolute;
    left: 103px;
    top: 28px;
}

.button {
    height: 60px;
    width: 197px;
    background-color: #202846;
    position: absolute;
    left: 1348px;
    top: 230px;
    border: 1px solid #202846;
    border-radius: 80px;
    text-align: center;
}

.text-button {
    color: #fff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}

.star {
    position: absolute;
    left: 1422px;
    top: 17px;
}

.star:hover .image-star {
    fill: yellow;
}

.box-f {
    height: 90px;
    background-color: #202846;
}

.text-box-f {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    padding: 21px 60px;

}

.image-star {
    fill: white;
}

.row-up {
    position: fixed;
    bottom: 300px;
    right: 100px;
}
