.title {
  text-align: center;
  color: black;
  font-family: "Kufam";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 6vh;
}

.card-img {
  background-size: 100%;
  height: 329px;
}
.text-card {
  border: 1px solid #ffff;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-flowers {
  width: 300px;
}

.text-filling {
  color: black;
  font-family: "Kufam";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.img-filling {
  height: 20vh;
  width: 17vw;
}
.basket-body {
  margin: 20px auto 0;
  width: 80%;
  align-items: center;
}
.order-img {
  height: 329px;
  grid-column: 1/2;
  justify-self: right;
  padding-right: 20px;
  grid-row: 1/6;
}

.order-title {
  font-weight: 700;
  grid-row: 2/3;
}
.form-order {
  margin: 20px;
}
.tobasket {
  width: 80%;
  border-radius: 5px;
  border: 3px solid transparent;
  color: #fff;
  background: linear-gradient(to bottom, #e0aec9, #e750a1);
  background-origin: border-box;
  text-decoration: none;
}
.tobasket:hover {
  background: transparent;
  color: #e750a1;
  border-color: #e750a1;
  cursor: pointer;
}
.tobasket:focus {
  color: #000;
  background-color: rgb(94, 221, 200, 0.5);
}
.tobasket:active {
  color: #000;
  background-color: rgb(94, 221, 200, 0.5);
}
.cart-wrapper {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/6;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: #fff;
}
.cart-filling {
  grid-column: 2/2;
  grid-row: 3/4;
}
.cart-weight {
  grid-column: 2/2;
  grid-row: 4/5;
}
#checkout {
  grid-column: 2/2;
}
.remove-button {
  grid-column: 3/3;
  grid-row: 1/2;
  width: 20%;
  height: 50%;
}
.price {
  grid-column: 2/2;
  grid-row: 5/6;
}
.order-data {
  width: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 4px;
  border-top: thistle;
}
.order-data > input,
input.button {
  width: 90%;
  margin: 5px 0;
  padding: 5%;
}
.input.button {
  width: 30%;
  height: 30%;
}
.empty {
  text-align: center;
  margin: 90px 0;
  justify-content: center;
  color: black;
  font-family: "Kufam";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: block;
}

.none {
  display: none;
}
