body {
    font-family: 'Open Sans', sans-serif;
    width: 19vw;
    border-right: 2px solid #7C7C7A;
    
}
.nav_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}
.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar {
    background-color: #fff;
}
.logo {
    width: 3vw;
    height: auto;
}
.nav-t {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: auto;
    
}
.row {
    padding-left: 0.5vw;
}
.row-reverse {
    display: none;
}
.row1 {
    position: absolute;
    left: 100%;
}
.ani_fred {
    color: black;
    font-weight: 700;
    font-size: 16px;
}
.post {
    color: #7C7C7A;
    font-weight: 400;
    font-size: 14px;
}
.form-control {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2vw;
}
.img {
    width: 1.7vw;
    height: auto;
}
.nav-text {
    color: #7C7C7A;
    font-weight: 600;
    font-size: 16px;
}
.sun {
    background-color: #7C7C7A;
    border: 1px solid #7C7C7A;
    border-radius: 50%;
}
@media screen and (max-width: 992px){
    body {
        width: 7vw;
    }
    .nav-t, .post {
        display: none;
    }
    .form-control {
        width: 1vw;
    } 
    .ani_fred {
        visibility: hidden;
    } 
    .row {
        
        display: none;
    } 
    .row-reverse {
        display: inline;
        padding-left: 0.8vw;
    }
    .sleep {
        display: none;
    } 
}