body {
    font-family: 'Work Sans', sans-serif;
    
}
.box {
    background-color: #FFB084;
    width: 800px;
    display: grid;
    grid-column: 3;
    grid-row: 4;
    justify-items: center;
    align-items: center;
    padding: 27px 40px;
    column-gap: 18px;
    row-gap: 5px;
    box-sizing: border-box;
}

.box>div {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 25px;
}
.title {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    box-shadow: 7px 7px 0 #000;
}
.title>img {
    width: 60%;
}
.title-t {
    font-weight: 700;
    font-size: 24px;
}
.title-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.phrase {
    grid-column: 1/2;
    grid-row: 4/5;
    box-shadow: 7px 7px 0 #000;
}
.bio {
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 7px 7px 0 #000;
}
.title-bio, .phrase, .Personality {
    font-weight: 700;
}
.goal {
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 7px 7px 0 #29a71e;
}
.title-goal {
    font-weight: 700;
    color: #29A71E;
}
.Frustrations {
    grid-column: 3/4;
    grid-row: 2/4;
    box-shadow: 7px 7px 0 #E13535;
}
.title-Frustrations {
    color: #E13535;
}
.dream {
    grid-column: 2/3;
    grid-row: 3/5; 
    box-shadow: 7px 7px 0 #3675B0;
}
.title-dream {
    color:#3675B0;
}
.Personality {
    grid-column: 3/4;
    grid-row: 4/5;
    box-shadow: 7px 7px 0 #000; 
}