.line1 {
    
    
}
.square {
   height: 512px;
   background-image: url("../img/Square.png");
   background-repeat: no-repeat;
   background-size: 512px;
   display: inline-block;
   margin: 100px;
}
.Glyph-square {
    height: 200px;
    padding: 160px 62px
}
.circle {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    border-radius: 256px;
    display: inline-block;
 }
.Glyph-circle {
    height: 200px;
    padding: 160px 62px
}
.square1 {
    height: 512px;
    width: 512px;
    display: inline-block;
    margin: 100px;
}
.circle1 {
    height: 512px;
    width: 512px;
    border-radius: 256px;
    vertical-align: top;
    margin: 100px 0;
}
.line2 {

}
.square-petcube {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    display: inline-block;
    margin: 100px;
}
.circle-petcube {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    border-radius: 256px;
    display: inline-block;
}
.petcube-square {
    height: 361px;
    padding: 81px 0px;
}
.petcube-circle {
    height: 320px;
    padding: 101px 117px;
}
.line4 {

}
.square-plane {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    display: inline-block;
    margin: 100px;
}
.circle-plane {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    border-radius: 256px;
    display: inline-block;
    vertical-align: top;
    margin: 100px 0;
}
.plane-square {
    height: 361px;
    padding: 146px 190px 0px;
}
.plane-circle {
    height: 320px;
    padding: 101px 117px;
}
.line5 {

}
.square-diia {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    display: inline-block;
    margin: 100px;
}
.circle-diia {
    height: 512px;
    width: 512px;
    background-image: url("../img/Square.png");
    background-repeat: no-repeat;
    background-size: 512px;
    border-radius: 256px;
    display: inline-block;
    
}
.diia-square {
    height: 180px;
    padding: 152px 102px;
}
.diia-circle {
    height: 180px;
    padding: 151px 102px;
}
.black-box {
    background-size: auto;
    background-color: black;
    height: 512px;
    width: 512px;
    padding-top: 127px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 100px 50px 100px 100px;
}
.flag {
    height: 60px; 
    padding: 0px 247px; 
}
.diia {
    text-align: center;
}
.black-box2 {
    background-size: auto;
    background-color: black;
    height: 512px;
    width: 512px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 100px 50px;
}
.flag1 {
    height: 60px;
    padding: 20px 327px 50px 20px;
}
.flag2 {
    height: 60px;
    vertical-align: top;
    padding: 20px 20px;
}