body {
    font-family: 'Inika', serif;
}
.header {
min-height: 50px;
max-height: 110px;
text-align: center;
color:#3E45E8;
font-family: 'M PLUS 1', sans-serif;
font-weight: 400;
font-size: 48px;
line-height: 70px;
}
.header-span {
    color: #e7e430;
    font-family: 'Marcellus', serif;
}
.main-picture {
    background-image: url("../img/UkrainMain.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    box-sizing: border-box;
    padding-left: 80px;

}
.content {
    box-sizing: border-box;
    height: 272px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #FFFF;
    max-width: 78%;
    padding-left: 36px;
    background-image: url("../img/Flag.png");
    background-repeat: no-repeat;
}
.main {
    padding: 80px;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
}
.line2 {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: 0 auto;
}
.title1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    margin: 72px 0 25px;
}
.card {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 32px;
    width: 30%;
    color: black;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 5px 5px 55px grey;
}
.card-margin {
    margin: 0 4%;
}
.card-picture {
    width: 100%;
}
.card-title {
    font-size: 24px;
    padding: 16px;
    color:#1E8DF2;
    box-sizing: border-box;

}
.card-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
.title2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 74px 21px auto;
}
.Map-picture {
    margin-top: 41px;
}
.button {
    border: 1px solid #2A61F0;
    background-color: #2A61F0;
    height: 121px;
    width: 591px;
    margin: 51px auto;
    text-align: center;
    
}
.text-button {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: white;
}
.box {
    background-size: 320px;
    background-color: #2F4A4B;
}
.post {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    display: block;
    margin-top: 31px;
   
  }
.telephon {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
}
.icons {
    display: block;
    text-align: center;
}
.icons2 {
    margin: 0 15px;
}
.icons4 {
    margin: 0 15px;
}