body {
    background-color: #E5E5E5;
    font-family: 'Public Sans', sans-serif;
}
.main-form {
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F9F9F9;
    box-sizing: border-box;
    
}
.title {
    font-weight: 700;
    font-size: 24px;
    color: #171717;
    display: block;
    
    margin-left: 48px;
    margin-bottom: 79px;
}
.title-text {
    font-weight: 400;
    font-size: 14px;
    display: block;
    margin-left: 43px;
    margin-bottom: 24px;

}
.text-info {
    font-weight: 700;
    font-size: 20px;
    color: #171717;
    margin-left: 43px;
    
}
.text-star {
    color: #D83933;
}
.info-text {
    font-weight: 500;
    font-size: 16px;
}
.field {
    width: 392px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-left: 43px;
    margin-right: 43px;
}
.date {
    font-weight: 500;
    font-size: 16px;
}
input[readonly] {
    background-color: #EFEFEF;
}
.box-one {
    display: block;
    margin-left: 43px;
    margin-top: 36px;
}
input [id="registr"]{
    color: #0050D8;
}
.cell {
    width: 24px;
    height: 24px;
    border: 1px solid #ADADAD;
    margin-left: 141px;
}
.box-cell {
    display: flex;
    margin-left: 43px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px; 
}
.box-one_cell {
    margin-top: 36px;
    margin-left: 43px;
    
}
input.cell_Appl_fee {
    display: none;
}
.cell_Appl_fee + label > .box-cell {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid;
    
}
.cell_Appl_fee:checked + label > .box-cell {
    background-image: url("../img/box-checked.png");
    border: 1px solid #0050D8;
}
.checkbox  {
    width: 24px;
    height: 24px;
    
}
.line {
 width: 90%;
 border-bottom: 3px solid #D1D1D1;
 margin-top: 47px;
 margin-left: 43px;
 margin-bottom: 32px;
}
.text-cell {
font-weight: 400;
font-size: 16px;
width: 392px;
padding-left: 1em;
}
.RegChild-text {
    width: 45%;
    display: flex;
}
.box-btn {
    display: flex;
    width: 69px;
    height: 40px;
    border: 1px solid #0050D8;
    background-color: #0050D8;
    color: #F9F9F9;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.flex-box_btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 43px;
}
input[id="Owner"] {
    color: #0050D8;
}
.search-line {
    background-image: url("../img/search-line.png");
    background-repeat: no-repeat;
    background-position: right;
}
.arrow-down {
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right;
 
}
div.main-form > div.title {
    padding-top: 64px;
}
input[id="registr"] {
    color: #0050D8;
}
.text-checkbox {
    display: flex;
    align-items: center;
   
}
div.box-one_cell > label.text-checkbox {
    align-items: flex-end;
}